/* About Page */

#about {
    justify-content: center;
    margin: auto;
    max-width: 1000px;
}

.profile img {
    width: 45%;
    min-width: 250px;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.cert-images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.cert-images img {
    height: 165px;
}

#dbs-image {
    width: 200px;
    height: 60px;
}

.pets .pet-images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}

.pets .pet-images img {
    height: 280px;
    width: auto;
    border-radius: 8%;
    object-fit: cover;
}

/* Media Queries */
@media (max-width: 768px) {   

    .pets .pet-images img {
        height: 155px;
    }
}