/* Contact Page */

.business-card img {
    width: 40%;
    object-fit: cover;
}

/* Media Queries */
@media (max-width: 768px) {
    .business-card img {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .business-card img {
        width: 90%;
    }
}