/* Contact Page */

.business-card img {
    width: 45%;
    object-fit: cover;
}

/* Media Queries */
@media (max-width: 768px) {
    .business-card img {
        width: 80%;
        max-width: 450px;
    }
}

@media (max-width: 480px) {
    .business-card img {
        width: 100%;
    }
}