/* Contact Page */

.business-card img {
    height: 25vh;
    object-fit: cover;
}

#contact a:hover {
    text-decoration: underline;
    color: #2033ff;
}

/* Media Queries */
@media (max-width: 768px) {
    .business-card img {
        width: 80%;
        max-width: 450px;
    }
}

@media (max-width: 480px) {
    .business-card img {
        width: 100%;
    }
}