/* Services Page */

.services {
    text-align: center;
    margin: 0 auto;
    max-width: 1200px;
}

.service-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.service-card {
    background: #91e4ff;
    border-radius: 5px;
    width: 65%;
    padding: 8px;
}

/* Media Queries */
@media (max-width: 768px) {
    .service-cards {
        flex-direction: column;
        align-items: center;
    }

    .service-card {
        flex-direction: column;
        text-align: center;
        width: 80%;
    }

    .service-card-content {
        align-items: center;
    }
}

@media (max-width: 480px) {
    .services p {
        font-size: 1em;
    }

    .service-card {
        padding: 15px;
        width: 80%;
    }

    .service-card h3 {
        font-size: 1.2em;
    }

    .service-card-content {
        align-items: center;
    }
}