/* Formatting for entire website */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
    display: flex;
    justify-content: center;
}

.container {
    width: 80%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
}

.main-content {
    background-color: #d1f8ff;
    padding: 15px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-height: 90vh;
}

header {
    background-color: #7eecff;
    border-bottom: 1px solid #7eecff;
    position: relative;
    padding-top: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 3em;
}

nav .logo {
    display: flex;
    align-items: center;
}

nav .logo img {
    height: 115px;
    margin-right: 32px;
    border-radius: 50%;
}

nav .logo span {
    font-size: 1.75em;
    color: #005073;
}

nav .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
}

nav .nav-links li {
    margin-left: 20px;
}

nav .nav-links li a {
    color: #005073;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
}

nav .nav-links li a.active {
    color: #e6973c;
}

/* Divider for titles on each page */
.border {
    border: 1px solid #ddd;
    width: 40%;
    margin-bottom: 30px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

/* Where the content is */
main {
    text-align: center;
    padding: 20px;
}


/* Footer Styles */
footer {
    background-color: #7eecff;
    text-align: center;
    padding: 12px;
}

.footer-content {
    padding: 20px;
}

.footer-content h2 {
    margin: 0;
    color: black;
}

.footer-content p {
    color: black;
    margin: 10px 0 0;
}

.footer-content a {
    color: #1714f1; 
    text-decoration: none;
}

.footer-content a:hover {
    text-decoration: underline;
}


/* Universal font sizes and text colour */
h1 {
    font-size: 2em;
    color: #005073;
}

h2 {
    font-size: 1.25em;
    /*color: #007b99;*/
    color: #000000;
}

p {
    font-size: 1em;
    color: #000000;
}