/* About Page */

.about {
    text-align: center;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 2em;
}

.content .profile img {
    width: 350px;
    height: auto;
    border-radius: 10px;
    margin-right: 2em;
}

.content .bio {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.content .bio p {
    padding: 8px;
}

.bio .cert-images {
    display: flex;
    justify-content: center;
}

.bio .cert-images img {
    width: auto;
    height: 165px;    
    margin: 0 1em;
}

.pets {
    text-align: center;
    margin-bottom: 2em;
}

.pets p {
    margin-bottom: 20px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.pets .pet-images {
    display: flex;
    justify-content: center;
}

.pets .pet-images img {
    width: auto;
    height: 220px;  
    border-radius: 50%;
    margin: 0 1em;
}