/* Home Page */

.slider {
    position: relative;
    width: 65%; /* Slider takes up 65% of viewport width */
    max-width: 1200px; /* Optional: Maximum width to limit slider width */
    overflow: hidden;
    margin: auto;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 60vh;
}

.slides img {
    min-width: 100%;
    display: block;
    object-fit: scale-down;
}

button {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 100;
    font-size: 1.5em;
    transform: translateY(-50%);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}